@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@mixin font-stack() {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include font-stack();
}

h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  color: #345;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 70vw;

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .button {
      width: 130px;
      height: 36px;
      line-height: 36px;
      padding: 0 15px;
      border-radius: 6px;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      transition: 0.15s all;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #345;
      background-color: rgb(136, 153, 170);
      @include no-select();

      .spinner div {
        border-color: #345 transparent transparent transparent;
      }

      &:hover {
        box-shadow: 0 4px 16px rgba(136, 153, 170, 0.6);
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .correct {
      color: #4F8A10;
      background-color: rgb(223, 242, 191);

      .spinner div {
        border-color: #4F8A10 transparent transparent transparent;
      }

      &:hover {
        box-shadow: 0 4px 16px rgba(223, 242, 191, 0.6);
      }
    }

    .not-sure {
      color: #9f6000;
      background-color: rgb(254, 239, 179);

      .spinner div {
        border-color: #9f6000 transparent transparent transparent;
      }

      &:hover {
        box-shadow: 0 4px 16px rgba(254, 239, 179, 0.6);
      }
    }

    .incorrect {
      color: #d8000c;
      background-color: rgb(255, 186, 186);

      .spinner div {
        border-color: #d8000c transparent transparent transparent;
      }

      &:hover {
        box-shadow: 0 4px 16px rgba(255, 186, 186, 0.6);
      }
    }

    .waiting {
      cursor: default;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  @include no-select();

  .dot {
    line-height: 32px;
    padding-bottom: 80px;
    color: rgba(136, 153, 170, 0.15);
    font-size: 128px;
    transition: 0.15s color;
  }

  .selected {
    color: rgb(136, 153, 170);
    transition: 0.15s color;
  }
}

.label {
  font-size: 14px;
  font-family: 'Roboto Mono', 'monospaced';
  color: #888;
  width: 100%;
  max-width: 70vw;
  height: 200px;
  border-radius: 8px;
  padding: 24px;
  overflow: scroll;
  margin: 0 0 30px;
  background-color: rgba(136, 153, 170, 0.15);
}

.spinner {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}
